<!DOCTYPE html>
<html lang="ru">
<head>
	<!--[if lt IE 9]>
    <script src="js/html5.js"></script>
	<![endif]-->
	<link href="css/basic_styles.css" rel="stylesheet" type="text/css"> 
	<script src="js/css3-mediaqueries.js" type="text/javascript"></script>
	<link href="css/custom_styles.css" rel="stylesheet" type="text/css">
	<link href="css/media_queries.css" rel="stylesheet" type="text/css">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="initial-scale=1.0">
	
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
	<script type="text/javascript" src="js/sidemenu.js"></script>

</head>
<body>
	<div id="pagewrap">
		<header id="header">
		<div id='header_phone'>+7 (908) 177-93-99</div>
		 
		<div class='lang_switcher'>
			<p>ЯЗЫК</p>
			<a id='ru' href='#'></a>
			<a id='en' href='#'></a>
		</div>
		<div class='shopping_cart'>
			<div class='shopping_cart_counter'>
				<div class='shopping_cart_counter_container'>3</div>
			</div>
			<div class='shopping_cart_informer'>
				<a href='#'>В корзине 3 единиц товара</a>
			</div>
		</div>
		</header>
		 <nav>
			<div class='navigation_trigger'></div>
			 <ul id="main_nav">
				<li><a href="#">Главная</a></li>
				<li><a href="#">Новости</a></li>
				<li><a href="#">О нас</a></li>
				<li><a href="#">Для оптовиков</a></li>
				<li><a href="#">Оплата и доставка</a></li>
				<li><a href="#">Отзывы</a></li>
				<li><a href="#">Контакты</a></li>
			 </ul>
		  </nav>
		<aside id="sidebar">
			<div id='logo_block'>
				<a href='#'></a>
			</div>
		  <div class='side_menu'>
			<a id='novelty' href='#'>Новинки</a>
			<div class='rich_world_products_btn'>Rich World</div>
			<ul class='rich_world_products_list'>
				<li><a href='#'>Гели для наращивания ногтей</a></li>
				<li><a href='#'>УФ гель-лаки 6мл.</a></li>
				<li><a href='#'>Праймеры</a></li>
				<li><a href='#'>Кисти для геля</a></li>
				<li><a href='#'>Кисти для дизайна</a></li>
				<li><a href='#'>Кисти для акрила</a></li>
				<li><a href='#'>Пилки</a></li>
				<li><a href='#'>Бафы</a></li>
				<li><a href='#'>Полировки</a></li>
				<li><a href='#'>Формы</a></li>
			</ul>
			<a id='partners' href='#'>Партнеры</a>
			<ul id='partners_list'>
				<li class='partner_item'><p>Mirage SKY</p>
					<ul>
						<li><a href='#'>Электрооборудование</a></li>
						<li><a href='#'>Кисти для акрила</a></li>
						<li><a href='#'>УФ гель-лаки 10 мл</a></li>
					</ul>
				</li>
				<li class='partner_item'><p>Planet Nails</p>
					<ul>
						<li><a href='#'>Кисти для геля</a></li>
						<li><a href='#'>Кисти для дизайна</a></li>
						<li><a href='#'>Кисти для акрила</a></li>
						<li><a href='#'>Пилки</a></li>
						<li><a href='#'>Бафы</a></li>
					</ul>
				</li>
				<li class='partner_item'><p>Lady Victory</p>
					<ul>
						<li><a href='#'>Кисти для геля</a></li>
						<li><a href='#'>Бафы</a></li>
					</ul>
				</li>
			</ul>
			</ul>
		  </div>
		  
		</aside>  
		<div id="content">
			<div class='search_form'>
				<form method='post'>
					<div class='search_form_lense'></div>
					<input id='search_text' type='text' size='40'>
					<input id='search_btn' type='submit' value='Поиск'>
				</form>
			</div>
		  <article class="post">
			 blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post
			 blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post
			 blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post
			 blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog postblog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog postblogblog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog postblogblog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post
			 blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post
			 blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog postblog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog postblog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post
		  </article>
		</div>
		
		<footer id="footer">
		<div class="phone_number_footer">+7 (908) 177-93-99</div>
		<ul class="menu_footer">
			<li class=""><a href="#" class="">Оплата</a></li>
			<li class=""><a href="#" class="">Доставка</a></li>
			<li class=""><a href="#" class="">Контакты</a></li>
			<li class=""><a href="#" class="">Корзина</a></li>
		</ul>
		</footer>
	</div>
</body>
</html>