<!DOCTYPE html>
<html lang="ru">
<head>
	<!--[if lt IE 9]>
    <script src="js/html5.js"></script>
	<![endif]-->
	<link href="css/basic_styles.css" rel="stylesheet" type="text/css"> 
	<script src="js/css3-mediaqueries.js" type="text/javascript"></script>
	<link href="css/custom_styles.css" rel="stylesheet" type="text/css">
	<link href="css/media_queries.css" rel="stylesheet" type="text/css">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="initial-scale=1.0">
	
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
	<script type="text/javascript" src="js/sidemenu.js"></script>

</head>
<body>
	<div id="pagewrap">
		<header id="header">
			<div class="logo">logo</div>
			<div class="search">SEARCH</div>
		</header>
		 <nav>
			<ul>
				<li><a href="#">home</a></li>
				<li><a href="yandex.ru">tabs</a></li>
				<li>wiki</li>
			</ul>
		  </nav>
		<aside id="sidebar">
we321
		  
		</aside>  
		<div id="content">


			 blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post
			 blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post
			 blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post
			 blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog postblog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog postblogblog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog postblogblog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post
			 blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post
			 blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog postblog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog postblog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post blog post

		</div>
		<div id="sidebar_r">
			we

		</div>
		<footer id="footer">

		</footer>
	</div>
</body>
</html>