article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
	clear: both;
}

#pagewrap {
   width: 980px;
   margin: 0 auto;
   
}
#header {
   height: 50px;
   
}
#content {
   width: 800px;
   float: right;
   
   min-height: 600px;
}
#sidebar {
   width: 200px;
   float: left;
   
}
#footer {
   clear: both;
   background-color: red;
}

h1,h2,h3,h4,h5{
margin-top: 5px;
margin-bottom: 5px;
}
h1{margin: 10px 5px 10px 5px;}