@import url(https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,latin-ext);

body {
    background-image: url('../img/bg.jpg');
    font-family: 'PT Sans', sans-serif;
    /*font-family: 'Ubuntu', sans-serif;*/
    color: #972448;
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}



a {
    color: #BD1538;
}

.btn_v2 {
	text-decoration: none;
    border: none;
    margin: 3px 0px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    position: relative;
    background: #f6617b;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod�EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f6617b 0%, #f6617b 49%, #e23956 50%, #e23956 51%, #e23956 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6617b), color-stop(49%, #f6617b), color-stop(50%, #e23956), color-stop(51%, #e23956), color-stop(100%, #e23956));
    background: -webkit-linear-gradient(top, #f6617b 0%, #f6617b 49%, #e23956 50%, #e23956 51%, #e23956 100%);
    background: -o-linear-gradient(top, #f6617b 0%, #f6617b 49%, #e23956 50%, #e23956 51%, #e23956 100%);
    background: -ms-linear-gradient(top, #f6617b 0%, #f6617b 49%, #e23956 50%, #e23956 51%, #e23956 100%);
    background: linear-gradient(to bottom, #f6617b 0%, #f6617b 49%, #e23956 50%, #e23956 51%, #e23956 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6617b', endColorstr='#e23956', GradientType=0);
}
.btn_v2:hover{
    
    text-decoration: underline;
}

/* ������� ���� main-menu */
nav {
    clear: both;
}

ul#main_nav {
    background-image: url('../img/menu_bg.jpg');
    height: 48px;
    line-height: 48px;
    padding-left: 0px;
    border-radius: 5px;
    font-size: 15px;

}

ul#main_nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    /* padding: 0px 20px 0px 20px; */
    padding: 0px 22px 0px 22px;
}

ul#main_nav li {
    list-style-type: none;
    list-style-image: none;
    float: left;
    background-image: url('../img/menu_devider.png');
    background-position: right;
    background-repeat: no-repeat;
}

ul#main_nav li:hover a {
    /*text-decoration: underline;*/
    text-shadow: 2px 2px 1px #F66079;
}

ul#main_nav li:last-child {
    background-image: none;
}

ul#main_nav li a.active {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f66079+0,f66079+50,e23956+51,e23956+100 */
    background: #f66079; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2NjA3OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y2NjA3OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2UyMzk1NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMjM5NTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f66079 0%, #f66079 50%, #e23956 51%, #e23956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f66079), color-stop(50%, #f66079), color-stop(51%, #e23956), color-stop(100%, #e23956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f66079 0%, #f66079 50%, #e23956 51%, #e23956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f66079 0%, #f66079 50%, #e23956 51%, #e23956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f66079 0%, #f66079 50%, #e23956 51%, #e23956 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f66079 0%, #f66079 50%, #e23956 51%, #e23956 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f66079', endColorstr='#e23956', GradientType=0); /* IE6-8 */
}

.border_radius_left {
    border-radius: 5px 0px 0px 5px;
}

/* ������� */
#logo_block {
    background-image: url('../img/logotype.png');
    background-repeat: no-repeat;
    width: 201px;
    height: 148px;
    text-align: center;
    margin-bottom: 13px;
}

#logo_block a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

/* header */
#header_phone {
    margin: 0px;
    color: #b60d2c;
    font-size: 29px;
    display: inline-block;
    padding-top: 16px;
    float: left;
}

/* language switcher begins*/
.lang_switcher {
width: 155px;
    height: 37px;
    float: left;
    /* padding-left: 415px; */
    background-image: url('../img/menu_devider.png');
    background-repeat: no-repeat;
    background-position: 136px 0px;
    position: relative;
    top: -1px;
        right: -425px;
}

.lang_switcher p {
    float: left;
    position: relative;
    bottom: 10px;
    left: -5px;
    font-weight: bold;
    font-size: 17px;
}

.lang_switcher a#ru {
    background-image: url('../img/ru.jpg');
}

.lang_switcher a#en {
    background-image: url('../img/en.jpg');
}

.lang_switcher a#tr {
    background-image: url('../img/tr.jpg');
}

.lang_switcher a {
    float: left;
    width: 29px;
    height: 26px;
    margin: 5px;
}

/* language switcher ends*/

/* shopping cart begin */
.shopping_cart {
       width: 155px;
    height: 36px;
    font-size: 12px;
    color: #bd1538;
    text-decoration: underline;
    float: right;
    position: relative;
    top: -4px;
}

.shopping_cart a {
    color: #972448;
}

.shopping_cart_counter {
    background-image: url('../img/cart_pict.png');
    width: 46px;
    height: 43px;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
}

.shopping_cart_counter_container {
    position: relative;
    top: 3px;
    left: 0px;
    text-align: center;
    width: 21px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
}

.shopping_cart_informer {
    position: relative;
    top: 6px;
    font-size: 13px;
    left: 6px;
}

.content_container {
	overflow: hidden;
    background-color: white;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 6px;
    margin: 5px 0px;
    min-height: 750px;
    position: relative;
}

/* shopping cart end */

/* footer begins */
footer {
    height: 46px;
    background: #faa2b1;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod�EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #faa2b1 0%, #faa2b1 49%, #ef8d9d 51%, #ef8d9d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #faa2b1), color-stop(49%, #faa2b1), color-stop(51%, #ef8d9d), color-stop(100%, #ef8d9d));
    background: -webkit-linear-gradient(top, #faa2b1 0%, #faa2b1 49%, #ef8d9d 51%, #ef8d9d 100%);
    background: -o-linear-gradient(top, #faa2b1 0%, #faa2b1 49%, #ef8d9d 51%, #ef8d9d 100%);
    background: -ms-linear-gradient(top, #faa2b1 0%, #faa2b1 49%, #ef8d9d 51%, #ef8d9d 100%);
    background: linear-gradient(to bottom, #faa2b1 0%, #faa2b1 49%, #ef8d9d 51%, #ef8d9d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa2b1', endColorstr='#ef8d9d', GradientType=0);
    margin: 0px;
    position: relative;
    border-radius: 5px;
}

.phone_number_footer {
    position: absolute;
    top: 9px;
    left: 20px;
    color: #7a0329;
    font-size: 22px;
}

.menu_footer {
    list-style: none;
    margin-left: 200px;
}

ul.menu_footer li {
    float: left;
    list-style: none;
    padding: 0px 12px;
    background-image: url('../img/menu_devider.png');
    background-repeat: no-repeat;
    background-position: right;
}

ul.menu_footer li:last-child {
    background-image: none;
}

ul.menu_footer li a {
    color: #7a0329;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 46px;
}

/* footer ends */

/* side menu begins */
#novelty {
    height: 40px;
    width: 205px;
    border-radius: 4px;
    color: white;
    background-image: url('../img/dropdown_bg.png');
    background-repeat: repeat-x;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}

#novelty:hover {
    text-decoration: underline;
}

.rich_world_products_btn {
    height: 40px;
    width: 205px;
    border-radius: 4px;
    color: white;
    background-image: url('../img/dropdown_bg.png');
    background-repeat: repeat-x;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 2px;
}

.rich_world_products_list, ul#partners_list li ul {
    list-style: none;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
    padding: 10px 5px 10px 5px;
/ / display : none;
    background-image: url('../img/dropdown_list_bg.png');
    background-repeat: repeat-y;
    width: 195px;
}

.rich_world_products_list li a, ul#partners_list li ul li a {
    text-decoration: none;
    padding: 0 5px 0 5px;
    color: #bd1538;
}

.rich_world_products_list li a:hover, ul#partners_list li ul li a:hover {
    color: black;
    position: relative;
    left: 1px;
}

ul#partners_list li ul li a {
    padding: 0 5px 0 10px;
}

.recommended_block_header,a#partners {
    height: 40px;
    width: 205px;
    border-radius: 4px;
    color: white;
    background-image: url('../img/dropdown_bg.png');
    background-repeat: repeat-x;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 2px;
}

ul#partners_list {
    list-style: none;
    padding: 0px;
    margin: 2px 0px 0px 0px;
    display: none;
}

ul#partners_list li p {
    margin: 3px 0px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    height: 40px;
    width: 205px;
    border-radius: 4px;
    color: white;
    background: #f6617b;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod�EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f6617b 0%, #f6617b 49%, #e23956 50%, #e23956 51%, #e23956 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6617b), color-stop(49%, #f6617b), color-stop(50%, #e23956), color-stop(51%, #e23956), color-stop(100%, #e23956));
    background: -webkit-linear-gradient(top, #f6617b 0%, #f6617b 49%, #e23956 50%, #e23956 51%, #e23956 100%);
    background: -o-linear-gradient(top, #f6617b 0%, #f6617b 49%, #e23956 50%, #e23956 51%, #e23956 100%);
    background: -ms-linear-gradient(top, #f6617b 0%, #f6617b 49%, #e23956 50%, #e23956 51%, #e23956 100%);
    background: linear-gradient(to bottom, #f6617b 0%, #f6617b 49%, #e23956 50%, #e23956 51%, #e23956 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6617b', endColorstr='#e23956', GradientType=0);
}

ul#partners_list li ul {
    list-style: none;
    padding: 0px;
    width: 204px;
}

.partner_item ul {
    display: none;
}

.side_menu ul li.active a, li.partner_item ul li.active a{
color: black !important;
text-decoration: underline !important;
}

/* side menu ends */

/* search form begins */
.search_form {
    position: relative;
    left: 10px;
    top: -20px;
}

#search_text {
    height: 30px;
    width: 620px;
    border-top: 1px solid #aab2bd;
    border-left: none;
    border-bottom: 1px solid #aab2bd;
    outline: none;
    position: relative;
    left: 48px;
    padding-left: 10px;
}

.search_form_lense {
    position: relative;
    top: 34px;
    left: 0px;
    content: url('../img/search_before_img.png');

}

#search_btn {
    background-color: #e33d59;
    width: 67px;
    color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
    height: 34px;
    position: relative;
    right: 5px;
    width: 72px;
    cursor: pointer;
}

#search_btn:hover {
    text-decoration: underline;
}

/* search form ends */

/* pager styles begins */

.pager li {
    float: left;
    background-color: gray;
    margin: 3px;
    padding: 5px;
}

.pager {
    height: 45px !important;
    position: relative;
    top: 9px;
}

ul.pager_ul {
    margin: 0 auto;
    display: table;
    padding: 0px;
}

ul.pager_ul li {
    height: 27px;
    width: 23px;
    text-align: center;
    padding: 0px;
    margin: 1px;
    background-color: white;
    border: 1px solid #E0E0E0;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

ul.pager_ul li a {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    top: 2px;
}

.pager li.active {
    padding-top: 3px;
    height: 24px;
    background-color: rgb(227, 61, 89);
    color: white;
    box-shadow: 0px 0px 0px;
}

ul.pager_ul .last_page {
    width: 85px;
}

ul.pager_ul .first_page {
    width: 85px;
}

.bottom_pager {
    /*sposition: absolute;
    bottom: 5px;
    width: 100%;*/
}

/* pager styles ends */

/* catalog styles begins */
.product_item {
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    width: 230px;
    height: 250px;
    float: left;
    margin: 3px;
    position: relative;

}

.product_item:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.product_item:hover .comparsion {
    display: block;

}

.product_item_image {
    width: 95%;
    height: 140px;

    margin: 6px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.product_item_image img {
    max-height: 140px;
    width: auto;
}

.product_item_name {
text-align: center;
    font-size: 14px;
    height: 20px;
    overflow: hidden;
}

.product_item_buy {
    overflow: hidden;
    position: absolute;
    top: 200px;
    text-align: center;
    padding: 5px;
    box-shadow: 0px 1px 2px black;
    border-radius: 3px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 13px;
    width: 122px;
    color: white;
    background: #f6617b; /* Old browsers */
    background: -moz-linear-gradient(top, #f6617b 0%, #f6617b 50%, #e23956 51%, #e23956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6617b), color-stop(50%, #f6617b), color-stop(51%, #e23956), color-stop(100%, #e23956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6617b 0%, #f6617b 50%, #e23956 51%, #e23956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6617b 0%, #f6617b 50%, #e23956 51%, #e23956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6617b 0%, #f6617b 50%, #e23956 51%, #e23956 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f6617b 0%, #f6617b 50%, #e23956 51%, #e23956 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6617b', endColorstr='#e23956', GradientType=0); /* IE6-9 */
    position: absolute;
    left: 50px;
}

.product_item_price {
    text-align: center;
    font-size: 19px;
    position: relative;

}

.product_item_buy:hover {
    background-color: white;
    text-decoration: underline;
}

.pager {
    clear: both;
    width: 100%;
    height: 35px;
}

.comparsion {
	position: absolute;
    top: 247px;
    font-size: 14px;
    color: #E23956;
    text-align: center;
    cursor: pointer;
    display: none;
    z-index: 2;
    border: 1px solid #DADADA;
    border-top: none;
    height: 27px;
    width: 230px;
    background-color: rgb(255, 255, 255);
    left: -1px;
    border-radius: 0 0 5px 5px;
}

.comparsion:hover {
    text-decoration: underline;
}

.edit_item_link {
    text-transform: uppercase;
    background-color: #F6617B;
    color: white;
    padding: 3px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 12px 0px 5px 0px;
    font-size: 15px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

/* catalog styles ends */

/* individual item styles begins */
.item_image {
    max-width: 30%;
    float: left;
}

.item_tabs {
    float: left;
}

.item_description {
    position: relative;
    min-height: 300px;
    float: left;
    width: 473px;
    padding-left: 30px;
}

.product_item_buy_individual {
    display: inline-block;
    cursor: pointer;
    width: 135px;
    height: 40px;
    background: #f6617b; /* Old browsers */
    background: -moz-linear-gradient(top, #f6617b 1%, #f6617b 49%, #e23956 51%, #e23956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f6617b), color-stop(49%, #f6617b), color-stop(51%, #e23956), color-stop(100%, #e23956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6617b 1%, #f6617b 49%, #e23956 51%, #e23956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6617b 1%, #f6617b 49%, #e23956 51%, #e23956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6617b 1%, #f6617b 49%, #e23956 51%, #e23956 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f6617b 1%, #f6617b 49%, #e23956 51%, #e23956 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6617b', endColorstr='#e23956', GradientType=0); /* IE6-9 */
    color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 2px 2px gray;
    border: 1px solid #EAA4B0;
    text-shadow: 0px -2px 0px gray;
    margin-top: 20px;
}

.product_item_buy_individual:hover {
    text-decoration: underline;
}

.item_tabs .ui-widget-content {
    border: none;
    background: none;
}

.item_tabs .ui-widget-header {
    border: none;
    background: none;
}

.item_tabs .ui-state-active {
    border: red;
}

.item_tabs .ui-tabs .ui-tabs-nav li {
    margin: 1px;
    margin-bottom: 0px;
}

.item_tabs .ui-tabs-panel {
    border: 1px solid #cfcfcf !important;
    box-shadow: 0px 0px 15px -5px inset;
    border-radius: 5px;
}

.item_tabs div#tabs-1, .item_tabs div#tabs-2, .item_tabs div#tabs-3 {
    width: 100% !important;
}

.item_tabs {
    width: 93%;
    font-size: 14px;

}

.item_tabs div {
    font-family: 'PT Sans', sans-serif !important;
    line-height: 10px !important;
    color: rgb(66, 66, 66) !important;
}

.item_tabs .ui-tabs .ui-tabs-nav li a {
    border-radius: 3px 3px 0px 0px;
    outline: none;

}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none !important;
}

.item_tabs .ui-state-default a {
    color: white !important;
    font-size: 14px;
    font-weight: normal;

    background: #f890a2; /* Old browsers */
    background: -moz-linear-gradient(top, #f890a2 1%, #f890a2 49%, #ea7387 52%, #ea7387 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f890a2), color-stop(49%, #f890a2), color-stop(52%, #ea7387), color-stop(100%, #ea7387)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f890a2 1%, #f890a2 49%, #ea7387 52%, #ea7387 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f890a2 1%, #f890a2 49%, #ea7387 52%, #ea7387 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f890a2 1%, #f890a2 49%, #ea7387 52%, #ea7387 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f890a2 1%, #f890a2 49%, #ea7387 52%, #ea7387 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f890a2', endColorstr='#ea7387', GradientType=0); /* IE6-9 */

}

.item_tabs .ui-state-active a {
    color: white !important;

    background: #f6617b; /* Old browsers */
    background: -moz-linear-gradient(top, #f6617b 1%, #f6617b 49%, #e23956 51%, #e23956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f6617b), color-stop(49%, #f6617b), color-stop(51%, #e23956), color-stop(100%, #e23956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6617b 1%, #f6617b 49%, #e23956 51%, #e23956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6617b 1%, #f6617b 49%, #e23956 51%, #e23956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6617b 1%, #f6617b 49%, #e23956 51%, #e23956 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f6617b 1%, #f6617b 49%, #e23956 51%, #e23956 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6617b', endColorstr='#e23956', GradientType=0); /* IE6-9 */

}

.item_tabs .ui-tabs-nav:first {
    background-color: green !important;
}

/* individual item styles ends */

/* auth window styles begins */

#auth_form_container {
    position: relative;
}

#auth_form_container input#auth_button {
    width: 110px;
    height: 32px;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.ui-dialog {

    font-size: inherit !important;
    font-family: inherit !important;
}

#registration_trigger {
}

.auth_block{
    display: block;
    position: relative;
    top: 26px;
    left: 23px;
}

#auth_form_container{background-color: white}

#auth_form_container #registration_trigger, #auth_form_container #recall_trigger {
position: relative;
top:20px;
}

#auth_form_container input[type='text'],#auth_form_container input[type='password']{
    border: 1px solid #FFB1BF;
    border-radius: 4px;
    position: relative;
    height: 15px;
    font-family: 'PT Sans', sans-serif;
    padding: 5px;
	width: 170px;
	outline-color: #F6617B;
}
#auth_form_container a{color: #E23956}
#auth_form_container input[type='submit']
{
	    border: none;
    margin: 3px 0px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    position: relative;
    background: #f6617b;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod�EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f6617b 0%, #f6617b 49%, #e23956 50%, #e23956 51%, #e23956 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6617b), color-stop(49%, #f6617b), color-stop(50%, #e23956), color-stop(51%, #e23956), color-stop(100%, #e23956));
    background: -webkit-linear-gradient(top, #f6617b 0%, #f6617b 49%, #e23956 50%, #e23956 51%, #e23956 100%);
    background: -o-linear-gradient(top, #f6617b 0%, #f6617b 49%, #e23956 50%, #e23956 51%, #e23956 100%);
    background: -ms-linear-gradient(top, #f6617b 0%, #f6617b 49%, #e23956 50%, #e23956 51%, #e23956 100%);
    background: linear-gradient(to bottom, #f6617b 0%, #f6617b 49%, #e23956 50%, #e23956 51%, #e23956 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6617b', endColorstr='#e23956', GradientType=0);
}
#auth_form_already input[type='submit']{
border: none;
    background-color: rgba(35, 35, 35, 0);
    color: #BD1538;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 200;
    text-decoration: underline;
	cursor: pointer;
}
/* auth window styles ends */

/* registration page begins */
#reg_form input[type='text'], #reg_form input[type='password']
{
	color: red;
	padding: 5px;
	font-size: 14px;
	width: 500px;
}

#reg_form input[type='submit'] {
text-align: right;
position: 
}

.val_error_cont{
text-align: right;
padding-right: 78px;
}

p.val_error_report {
    display: inline;
    padding: 2px;
    border-radius: 4px;
    color: white;
    font-size: 13px;
    background-color: #E33D59;
    border: 1px solid #FF859A;
    box-shadow: 0px 2px 1px #7A0329;
	position: relative;
	top: -10px;
}

#reg_form label{

    width: 125px;
    display: inline-block;
    text-align: right;
    padding-right: 12px;
}

/* registration page ends */

.product_description_line {
    clear: both;
    margin-top: 5px;
}

.product_description_line span {
    color: #e13953;
    font-weight: bold;
}

.promo_link{
	background-image: url('../img/promo_label.png');
    width: 196px;
    height: 198px;
    background-repeat: no-repeat;
    position: absolute;
    top: -37px;
    left: -24px;
    z-index: 91;
}

.promo_link a{
display: inline-block;
width: 100%;
height: 100%;
}

#edit_slider{
position: relative;
z-index: 99;
font-weight: bold;
top: -20px;
}

/* contacts */
.contacts_text{
    float: left;
    width: 270px;
    height: 422px;
    padding: 0px 5px;
    line-height: 30px;
}

.map_block{
    float: left;
    width: 435px;
    height: 422px;
}

.recommended_widget{
    float: left;
    display: block;
	
    background-color: white;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 6px;
    margin: 5px 0px;
    margin-bottom: 17px;
    position: relative;
	}
	
.content_line_img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    padding: 5px;
    float: left;
}	

#contacts label{
    width: 30%;
    display: inline-block;
	text-align: right;
	padding-right: 10px;
}

#contacts input, #contacts  textarea{
	width: 50%;}
#contacts input[type='checkbox']{
position: relative;
left: 50px;
}
#contacts input[type='submit']
{
width: 200px;
position: relative;
left: 31%;
}


/* reviews begins */

.review_line{
    padding-bottom: 15px;
    height: 145px;
    margin-bottom: 10px;
}

.review_city, .review_id{
	display: inline;
	font-size: 12px;
}
/* reviews ends */