@import url(http://fonts.googleapis.com/css?family=Istok+Web&subset=latin,cyrillic);

body {

    font-family: 'Istok Web', sans-serif;
    /*font-family: 'Ubuntu', sans-serif;*/
    color: #972448;
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}

nav{
    background-color: #5eb95e;
}

#pagewrap{
    width: 1200px;
    background-color: #ff554b;

}

aside#sidebar{
    background-color: #003bb3;
    height: 100%;
    float: left;
}

div#sidebar_r{
    float: left;
    background-color: red;
    height: 300px;
    width: 200px;
}


#content{
    background-color: lightblue;
    float: left;
}

a {
    color: #BD1538;
}

#header{
    background-color: #e78f08;
}

footer#footer{
    background-color: #003bb3;
    height: 200px;
}
