<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Админка</title>
	<link href="css/admin_style.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Scada&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
	<body>
		<div class='logo'>Rich World : Интернет магазин</div>
		<div class='container'>
			<div class='sidebar'>
				<ul>
					<li><a href='#'>Настройки сайта</a></li>
					<li><a href='#'>Категории</a></li>
					<li><a href='#'>Подкатегории</a></li>
					<li><a href='#'>Товары</a></li>
				</ul>
				
			</div>
			<div class='content'>
			</div>
			
		</div>
	</body>
</html>
